* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  height: 12rem;
  display: flex;
  flex-direction: column;
  background-size: 100%;
  margin: 0 auto 0;
  padding: 1rem;
  position: relative;
}

header h1 {
  font-size: 3rem;
  font-weight: normal;
  margin: 4rem 0 0.25rem 0;
}

header h2 {
  font-weight: normal;
  margin: 0.5rem 0 0.2rem 0;
}

figure {
  margin: 0;
}

.top-book-link {
  font-size: 1.25rem;
  font-family: helvetica; arial;
  font-weight: lighter;
  color: red;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.page-titles {
  color: white;
  line-height: 2rem;
  font-family: helvetica;
}

.navigation-menu {
  background: gray;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.25rem 0 0.25rem 0;
}

.navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.navigation li {
  padding: 1.25rem 0.5rem;
  font-family: helvetica;
  max-width: 100%;
  justify-content: space-between;
  padding: 0 2rem 0;
}

.column-section {
  display: flex;
}

.main-column {
  flex: 2;
  margin: 0 1rem 0;
  font-family: helvetica;
}

.main-column h2 {
  margin-top: 1.5rem;
  margin-bottom: 0.25rem
}

.testimonials {
  font-style: italic;
}

.aside-profiles {
  flex: 1;
  display: flex;
  width: 35%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 3rem 1rem 3rem 1rem;
  padding: 0.5rem;
  position: relative;
}

.aside-profiles h3 {
  font-size: 1.5rem;
  font-family: helvetica; arial;
  margin: 1em 0 0.25em 0;
}

.aside-profiles figcaption {
  font-size: 1.25rem;
  font-family: helvetica; arial;
  text-align: center;
}

.aside-profiles p {
  margin: 0.5rem 0 0.25rem 0;
  font-family: helvetica; arial;
}

.weekly-cat {
  margin: 0;
}

.weekly-cat img {
  width: 100%;
  padding: 0 1rem 0;
}

.fan-favorite {
  margin: 0;
}

.fan-favorite img {
  width: 100%;
  padding: 0 1rem 0;
}

.first-booking-link {
  position: absolute;
  right: 1rem;
  margin-bottom: 1rem;
  font-family: helvetica; arial;
  color: red;
}

.second-booking-link {
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
  font-family: helvetica; arial;
  color: red;
}

.fan-fav-caption {
  padding: 0 0 1.5rem 0;
}
